*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#111;
    color:#fff;
}

/* NAVBAR */

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#000;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo img{
    width:60px;
}

.logo h2{
    color:#ff8c00;
}

nav ul{
    display:flex;
    list-style:none;
    gap:25px;
}

nav a{
    text-decoration:none;
    color:#fff;
}

nav a:hover{
    color:#ff8c00;
}

/* HERO */

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px 8%;
    min-height:90vh;
}

.hero-content{
    width:50%;
}

.hero-content h1{
    font-size:60px;
    color:#ff8c00;
}

.hero-content p{
    margin:20px 0;
    color:#f5f5dc;
}

.hero button{
    padding:15px 35px;
    border:none;
    background:#ff8c00;
    color:white;
    border-radius:30px;
    cursor:pointer;
    font-size:18px;
}

.hero button:hover{
    background:#ff6f00;
}

.hero-image img{
    width:500px;
    border-radius:20px;
}

/* OFFERS */

.offers{
    padding:80px 8%;
    text-align:center;
}

.offers h2{
    color:#ff8c00;
}

.offer-container{
    display:flex;
    gap:20px;
    margin-top:40px;
}

.offer-card{
    flex:1;
    background:#1f1f1f;
    padding:30px;
    border-radius:15px;
}

.offer-card h3{
    color:#ff8c00;
}

/* POPULAR */

.popular{
    padding:80px 8%;
    text-align:center;
}

.popular h2{
    color:#ff8c00;
}

.food-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
    margin-top:40px;
}

.food-card{
    background:#1f1f1f;
    border-radius:15px;
    overflow:hidden;
}

.food-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.food-card h3{
    margin:15px 0;
}

.food-card button{
    margin-bottom:20px;
    padding:10px 25px;
    border:none;
    background:#ff8c00;
    color:white;
    border-radius:20px;
    cursor:pointer;
}

/* REVIEWS */

.reviews{
    padding:80px 8%;
    text-align:center;
}

.reviews h2{
    color:#ff8c00;
}

.review-container{
    display:flex;
    gap:20px;
    margin-top:40px;
}

.review-card{
    flex:1;
    background:#1f1f1f;
    padding:25px;
    border-radius:15px;
}

/* FOOTER */

footer{
    text-align:center;
    padding:20px;
    background:black;
    color:#f5f5dc;
}

/* RESPONSIVE */

@media(max-width:768px){

.hero{
    flex-direction:column;
    text-align:center;
}

.hero-content{
    width:100%;
}

.hero-content h1{
    font-size:40px;
}

.hero-image img{
    width:100%;
    margin-top:30px;
}

.offer-container,
.review-container{
    flex-direction:column;
}

}
.logo img{
    width:80px;
    height:80px;
    object-fit:contain;
}